{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StyleMaxx</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen bg-[#DDCACA] text-slate-0">


    <main class="max-w-5xl mx-auto px-4 py-8">
      <div class="fixed bottom-4 left-4">
        <h1 style="font-size: 2.5rem; color: #272323;">Stylemaxx</h1>
        <p style="color: #272323;">Welcome to Stylemaxx, your wardrobe assistant and personal stylist.</p>
      </div>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>